@media only screen and (max-width: 600px) {
    p {
        display: none;
    }
  }
  @media only screen and (max-width: 430px) {
    p {
        display: none;
    }
    h3{
        font-size: 150%;
    }
    .btn .btn-secondary{
        font-size: 80%;
    }

  }